@model Shusha_project_BackUp.Data.DailySales

@{
    ViewData["Title"] = "تفاصيل"; // Arabic title for "Details"
}


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .container {
            max-width: 800px;
            margin-top: 30px;
        }

        .card {
            margin-bottom: 20px;
        }

        .card-header {
            font-weight: bold;
        }

        .card-body {
            padding: 15px;
            max-height: 400px; /* Set a maximum height */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        .details dt {
            font-weight: bold;
        }

        .details dd {
            color: #555;
        }

        .btn-edit, .btn-back {
            margin-top: 20px;
            font-size: 16px;
            padding: 10px 20px;
        }

        .btn-edit {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #fff;
        }

        .btn-back {
            background-color: #6c757d;
            border-color: #6c757d;
            color: #fff;
        }

        .actions a {
            margin: 0 10px;
        }

        .input-display {
            border: none;
            background-color: transparent;
            color: #555;
            font-size: 1rem;
            padding: 5px 10px;
            width: 100%;
        }
    </style>


    <div class="container" dir="rtl">
        <h1>@ViewData["Title"]</h1>

        <div class="card">
            <div class="card-header">
                تفاصيل المبيعات اليومية
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-md-4">اسم العنبر</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.ward.WardName)" disabled />
                    </dd>

                    <dt class="col-md-4">انتاج البيض الابيض بالكرتونة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.no_of_carton_WhEggs)" disabled />
                    </dd>

                 @*   <dt class="col-md-4">سعر كرتونة البيض الابيض</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Whprice)" disabled />
                    </dd>*@

                    <dt class="col-md-4">انتاج البيض البني بالكرتونة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.no_of_carton_BrEggs)" disabled />
                    </dd>

                 @*   <dt class="col-md-4">سعر كرتونة البيض البني</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Brprice)" disabled />
                    </dd>*@

                    <dt class="col-md-4">انتاج البيض الكسر بالكرتونة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.no_of_carton_broken)" disabled />
                    </dd>

                   @*   <dt class="col-md-4">سعر كرتونة البيض الكسر</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Broprice)" disabled />
                    </dd>*@

                    <dt class="col-md-4">انتاج بيض مزدوج الصفارة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.double_eggs)" disabled />
                    </dd>

                   @* <dt class="col-md-4">سعر كرتونة بيض مزدوج الصفارة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Doprice)" disabled />
                    </dd>*@
                    <dt class="col-md-4">حجم السبلة (بالمتر مكعب)</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.waste_poultry)" disabled />
                    </dd>

                      @*  <dt class="col-md-4">سعر المتر المكعب من السبلة</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.waste_price)" disabled />
                    </dd>*@

                    <dt class="col-md-4">التاريخ</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Date)" disabled />
                    </dd>

                   @*  <dt class="col-md-4">المستحق</dt>
                    <dd class="col-md-8">
                        <input class="input-display" type="text" value="@Html.DisplayFor(model => model.Total)" disabled />
                    </dd>*@
                </dl>
            </div>

        <!-- Action Buttons -->
        <div class="actions text-center">
            <a asp-action="Edit" asp-route-id="@Model?.dailySales_id" class="btn btn-edit">تعديل</a>
            <a asp-action="Index" class="btn btn-back">العودة الى القائمة الرئيسية</a>
        </div>
    </div>
        </div>


    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

