@model IEnumerable<Shusha_project_BackUp.Data.Request_Proceeds>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<div dir="rtl" class="container mt-5">
    <h1 class="text-center">عرض المستحقات المطلوبة</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> إنشاء جديد
            </a>
        }
        <a asp-action="ExportToExcel" class="btn btn-success">
            <i class="fas fa-file-excel"></i> تصدير إلى Excel
        </a>
    </div>

    <table id ="dataTable" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>
               اسم المركز
            </th>
            <th>
               المستحقات المطلوبة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.center.centerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requested_proceeds)
            </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                      {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">تعديل</a>
                      }
                       
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">تفاصيل</a>
                        @if (User.IsInRole("Admin")){
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">حذف</a>
                        }
                        

                    </td>
           
        </tr>
}
    </tbody>
</table>
</div> 
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json"
                }
            });
        });
    </script>
}
