@model IEnumerable<Shusha_project_BackUp.Center>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.centerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.centerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.centerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.centerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.centerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
